{% extends 'base.html' %}
{% set active_page = "button_page" %}

{% block header %}
    <h1>{% block title %}All lights{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" action="{{ url_for('divide') }}">
            {{ form.hidden_tag() }}

        <table border = 1>
            {% for key, value in list_places.items() %}
                <tr>
                    <th> <input type="submit" name="submit" value="{{key}}"/> </th>
                    {% if value[0] == 0 %}
                        <td> <img src="{{ url_for('static',filename="light-bulb-off.jpg") }}"/> </td>
                    {% else %}
                        <td> <img src="{{ url_for('static',filename="light-bulb-on.jpg") }}"/> </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        </form>
{% endblock %}