{% extends 'base.html' %}
{% set active_page = "brightness_button_page" %}

{% block header %}
    <h1>{% block title %}All lights with brightness{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" action="{{ url_for('brightness_button') }}">
            {{ form.hidden_tag() }}

        <table border = 1>
            {% for key, value in list_places.items() %}
                <tr>
                    <th> <input type="submit" name="submit" value="{{key}}"/> <br>
                        <input type="range" min="0" max="100" value="{{ value[0] }}" name="{{key}}" class="slider"/> </th>
                    {% if value[0] == 0 %}
                        <td> <img src="{{ url_for('static',filename="light-bulb-off.jpg") }}"/> </td>
                    {% else %}
                        <td> <img src="{{ url_for('static',filename="light-bulb-on.jpg") }}"/> </td>
                    {% endif %}

                </tr>
            {% endfor %}
        </table>
        </form>
{% endblock %}